body {

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}


.container {
    width: 50rem;
    height: 20rem;
    background: white;
}


#character {
    transition: transform 0.2s;
    margin: 5rem;
    width: 5px;
    height: 5px;
    padding: 0.5rem;
    background-color: red;
}

#enemy {
    transition: transform 0.2s;
    padding: 0.5rem;
    margin: 5rem;
    width: 5px;
    height: 5px;
    padding: 0.5rem;
    background-color: red;
}